ul {
    background-color: #444;
    padding: 10px;
    text-align: center;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}
li {
    display: inline;
    margin: 10px;
}
li a {
    color:  #e7e171;
    text-decoration: none;
    margin: 15px;
    padding: 10px 15px;
    transition: background 0.3s, transform 0.2s;
    display: inline-block;
  }
li a:hover {
    background-color: #2e1b1b;
    transform: scale(1.1);
  }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e7e171;
  }
header, footer {
    background-color: #333;
    color: rgb(255, 252, 205);
    text-align: center;
    padding: 20px;
}
.container {
    width: 70%;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    text-align: center;
}
.form{
    display: flex; 
    flex-direction: column; 
    gap: 10px;
}
.inClass{
    padding: 8px; 
    border-radius: 5px;
    border: 1px solid #ccc;
}
.inMessage{
    padding: 8px; 
    border-radius: 5px; 
    border: 1px solid #ccc;
}

textarea{
    resize: none;
    padding: 10px; 
}

.butC{
    padding: 10px; 
    background-color: #444; 
    color: white; 
    border: auto; 
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    align-self: center;
}
.butH{
    padding: 10px; 
    background: #333; 
    color: white; 
    border: none; 
    cursor: pointer;
}
.butP{
    padding: 8px; 
    background: #28a745; 
    color: white; 
    border: none; 
    cursor: pointer;
}